.root > div > div {
  width: 100vw;
  height: 100vh;
  transform-origin: unset;
  transform: unset;
}
.root > div > div > div > div {
  overflow-y: auto;
}
.root > div > div > div > div > div > div:last-child {
  padding-bottom: 150px;
}
.link {
  text-decoration: underline;
  color: #0284c7 !important;
  cursor: pointer;
}
